body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 500px;
  margin: 15px auto;
  border-radius: 20px;
  border-style: solid;
  padding: 15px;
  background-color: #fff;
  border-radius: 16px;
  height: 660px;
  text-align: center;
}

.image-container {
  margin-top: 20px;
}

hr {
  margin-top: 20px;
  border: none;
  border-top: 1px solid #ccc;
}

.signup-button {
  width: 50%;
  padding: 10px;
  background-color: rgb(105, 16, 157);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #1368c4;
}

.text-account {
  display: block;
  margin-top: 20px;
}

h1,
h3 {
  color: rgb(105, 16, 157);
  margin-top: auto;
}

.main-image {
  width: 67%;
}

.fa-facebook {
  color: #1778f2;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-instagram {
  color: #8a3ab9;
}

.icons {
  margin-right: 0.8rem;
}
